/**
 * Featured {{name_plural}} Block - Editor Styles
 *
 * @package {{namespace}}
 */

@use "../scss/template" as *;

.wp-block-#{$namespace}-#{$slug}-featured {

	&__loading,
	&__empty {
		padding: 2rem;
		text-align: center;
		background-color: #f0f0f0;
		border: 2px dashed #ccc;
		border-radius: 4px;
		color: #666;
	}
}
