// Editor SCSS for {{block_slug}}-featured block
.wp-block-{{namespace}}-{{block_slug}}-featured {
  outline: none;
  &:focus {
    box-shadow: 0 0 0 2px var(--wp--preset--color--primary, #007cba);
  }
}
