/**
 * {{name}} Collection Block - Editor Styles
 *
 * @package {{namespace}}
 */

@use "../scss/template" as *;

.wp-block-#{$namespace}-#{$slug}-collection {

	.components-spinner {
		display: block;
		margin: 2rem auto;
	}
}
